<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
  <!--
    내용: spring Data JPA실습
  -->
</head>
<body>
  <h3>Spring Data JPA</h3>

  <h4>jPA 기본</h4>
  <a th:href="@{/user1/list}">user1</a>


    <h4>JPA 쿼리메서드 실습</h4>
    <p>JPA 연관관계 실습</p>

    <p>test > repository board 참고> </p>
    <p>test > repository shop 참고> </p>

    <h4>QueryDSL 실습</h4>
<!--    <p>-->
<!--        QueryDSL 설정
            1.build.gradle 의존성 추가
              build.gradle 파일 QueryDSL 경로 및 환경설정
              -q도메인 클래스 생성 확인(애플리케이션 실행 상태 확인)

            2.QueryDSL 구현
               개별 Repository 확장 Custom 인터페이스 생성
               Custom 인터페이스를 구현하는 Impl 클래스 생성
               Impl 클래스에서 QueryDSL 쿼리메서드 정의
               개별 Repository에 Custom 인터페이스 상속 추가-->
<!--        -->
<!--    </p>-->
</body>
</html>