<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org//thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        8장 스프링 시큐리티 실습
    -->
</head>
<body>
    <h3>Spring Security</h3>

    <h4>인증테스트</h4>
    <th:block sec:authorize="isAnonymous()">
        <a th:href="@{/user/login}">user 로그인</a><br>
        <a th:href="@{/user/register}">user 회원가입</a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
    <p>
        [[${#authenticationprincipal.user.name}]]
        [[${#authenticationprincipal.user.role}]]
    </p>
        <a th:href="@{/user/logout}">로그아웃</a>
    </th:block>
    <h4>인가 테이스</h4>
    <a th:href="@{/admin}">admin</a><br>
    <a th:href="@{/manager}">manager</a><br>
    <a th:href="@{/staff}">staff</a>
</body>
</html>